.header {
    height: 180px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header h1 {
    margin-top: 0px;
    font-size: 95px;
    
  }