.grocerylist-div {
    width: 550px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.li-style {
    display: inline-block;
    font-size: 24px;
}
.li-style-isDone {
    text-decoration: line-through;
}
#edit-button {
    padding: 10px 10px;
    background-color: #03fc90;
    border-radius: 5px 5px;
    color: white;
    border-style: none;
}
#done-button {
    padding: 10px 10px;
    background-color: #fcdb03;
    border-radius: 5px 5px;
    color: white;
    border-style: none;
  }
  #delete-button {
    padding: 10px 10px;
    background-color: #fc0303;
    border-radius: 5px 5px;
    color: white;
    border-style: none;
  }
  #edit-button:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  }
  #done-button:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  }
  #delete-button:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  }